html {
  font-size: 13px;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
    overflow-y: auto; /* Permite scroll si el contenido es muy largo */
    background-color: #f8f9fa; /* Un color de fondo suave para el área principal */
}

/* Estilos para el submenú de configuración */
#config-submenu .nav-link {
    opacity: 0.8;
}

#config-submenu .nav-link:hover {
    opacity: 1;
}


.product-image-thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 0.25rem; /* Opcional: para redondear las esquinas */
}

.cancelled-order td {
    color: red;
}

/* Estilos para el Logo Jahudi en el Sidebar */
.logo-jahudi {
    display: block;
    width: 100%; /* Ampliar para ocupar el ancho disponible */
    max-width: 120px; /* Aumentado para mayor tamaño */
    height: auto;
    background-color: #ffffff; /* Fondo blanco sólido */
    padding: 15px;
    border-radius: 8px;
    margin: 10px auto; /* Centrado y con margen */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave para resaltar */
}
