﻿@using Microsoft.AspNetCore.Identity
@using PhonePalace.Infrastructure.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-4 me-2"></i>
            <span>@UserManager.GetUserName(User)</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="dropdown-item" asp-controller="UserManagement" asp-action="Edit" asp-route-id="@UserManager.GetUserId(User)">Mi Perfil</a>
                }
                else if (User.IsInRole("Cliente"))
                {
                    <a class="dropdown-item" asp-controller="ClientPortal" asp-action="MyData">Mis Datos</a>
                }
                else
                {
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Mi Perfil</a>
                }
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item"><i class="bi bi-box-arrow-right me-2"></i>Salir</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item"><a class="nav-link" asp-controller="PublicAccess" asp-action="Register">Registrarse</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a></li>
}
</ul>