@model PhonePalace.Domain.Entities.Bank
@{
    ViewData["Title"] = "Editar Banco";
}

<h1>@ViewData["Title"]</h1>

<h4>Banco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankID" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AccountNumber" class="form-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="IsActive" id="toggleActive" />
                    <label class="form-check-label" for="toggleActive">Activo</label>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}