@model PhonePalace.Domain.Entities.FixedExpense

@{
    ViewData["Title"] = "Crear Gasto Fijo";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Concept" class="control-label"></label>
                <input asp-for="Concept" class="form-control" />
                <span asp-validation-for="Concept" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}