@model PhonePalace.Domain.Entities.AccountPayable

@{
    ViewData["Title"] = "Crear Cuenta por Pagar";
}

<h1>Crear Cuenta por Pagar</h1>

<h4>Información Manual</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="DocumentType" class="control-label"></label>
                <select asp-for="DocumentType" class="form-control" asp-items="Html.GetEnumSelectList<PhonePalace.Domain.Enums.AccountPayableDocumentType>()"></select>
                <span asp-validation-for="DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DocumentNumber" class="control-label"></label>
                <input asp-for="DocumentNumber" class="form-control" />
                <span asp-validation-for="DocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}