@model Client

<div class="row">
    <div class="col-md-6 mb-3">
        <label asp-for="DepartmentID" class="form-label"></label>
        <select asp-for="DepartmentID" id="DepartmentID" class="form-select" asp-items="ViewBag.DepartmentID">
            <option value="">-- Seleccione Departamento --</option>
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="MunicipalityID" class="form-label"></label>
        <select asp-for="MunicipalityID" id="MunicipalityID" class="form-select" asp-items="ViewBag.MunicipalityID">
            <option value="">-- Seleccione Municipio --</option>
        </select>
    </div>
</div>
<div class="mb-3">
    <label asp-for="StreetAddress" class="form-label"></label>
    <textarea asp-for="StreetAddress" class="form-control" rows="2"></textarea>
    <span asp-validation-for="StreetAddress" class="text-danger"></span>
</div>